<h3>Brightness</h3>
<p>
    To measure the amount of light, which the aquarium receives, we use the Arduino as a voltmeter.
    <br>
    A <strong>solar cell</strong> is used as a light sensor . This is a component, which captures light and transfer it to electricity.
    <br>
    The amount of light, which the cell caputures, defines what will be the voltage between the two terminals of the cell.
    <br>
    <a href="https://en.wikipedia.org/wiki/Solar_cell" target="_blank">More info.</a>
</p>

<img src="/img/brightness.png" class="small-image">

<p>
    To measure the voltage, we use the circuit above, which is a voltage divider.
    <br>
    <strong>Used parts:</strong>
</p>
<ul>
    <li>Solar cell</li>
    <li>100 kOhm resistor</li>
    <li>1 MOhm resistor</li>
    <li>wires</li>
</ul>
<p>
    <a href="https://startingelectronics.org/articles/arduino/measuring-voltage-with-arduino/" target="_blank">Reference of the voltmeter</a>
<p>
<p>
    <strong>Future improvements</strong>
    <br>
    Comparing the value received from a voltmeter and those from the Arduino circuit, the difference is that
    the Arduino measures with around 0.05 V more.
    <br>
    This is a fair small error.
    <br>
    Further, the instructions about the calibration from the reference could be used.
<p>
