<h3>Budget</h3>
<p>
    The budget of the projecrt in BGN.
</p>
<ul>
    <li><strong>Arduino UNO</strong> - ~150 BGN</li>
    <li><strong>Lego blocks</strong> - ~10 BGN</li>
    <li><strong>Small breadboard</strong> - ~5 BGN</li>
    <li><strong>Wires</strong> - ~5 BGN</li>
    <li><strong>Plates</strong> - ~2 BGN</li>
    <li><strong>Plates</strong> - ~2 BGN</li>

    <li><strong>TMP26</strong> - A resistor that changes resistance based on the ambient temperature.</li>
</ul>