<h3>Feeding</h3>
<p>
    The most important task of this project is to implement feeding of the fishes in the aquarium.
    <br>
    For this many ideas were found, where every was looking hard to be implemented.
    <br>
    But then I found this video clip and I thought that it would be easy to make something like it.
</p>
<iframe style="margin: 0 auto;" width="420" height="315" src="https://www.youtube.com/embed/vbsXbaPbM6w" frameborder="0" allowfullscreen></iframe>
<p>
For the feeding a servo motor is used, which rotates a paper dish with holes, on which the food is placed.
<br>
When the dish is rotated, a brush moves the food trough the holes and it falls in the water.
</p>

<img src="/img/feed-3.jpg" class="small-image">
<img src="/img/feed-2.jpg" class="small-image">
<img src="/img/feed-1.jpg" class="small-image">

<p>
    <strong>Used parts:</strong>
</p>
<ul>
    <li>Servo motor</li>
    <li>LEGO parts</li>
    <li>Two types of cardboard</li>
    <li>Glue</li>
    <li>String and a needle</li>
    <li>Wires</li>
</ul>
<p>
    <strong>Future improvements</strong>
    <br>
    This is the most complex part of the project, because it needs a lot of adjustments.
    <br>
    The construction was very unstable and it took a lot of time to find a correct design which to make it stable.
<p>


