        <img src="/img/aquarium.jpg" height="400px" style="display: block; margin: 20px auto;"/>
        <input type="text" id="datepicker">
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3>
                    <a href="/feeding">Feeding</a>
                    <a href="/feeding" class="headline-sublink">The sensor</a>
                </h3>
                <div id="plot-feeding" class="plot"></div>
                <p class="centered">{{feeding_graph}}</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3>
                    <a href="/temperature">Temperature</a>
                    <a href="/temperature" class="headline-sublink">The sensor</a>
                </h3>
                <div id="plot-temperature" class="plot"></div>
                <p class="centered">{{temperature_graph}}</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3>
                    <a href="/water-level">Water level</a>
                    <a href="/water-level" class="headline-sublink">The sensor</a>
                </h3>
                <div id="plot-level" class="plot"></div>
                <p class="centered">{{water_level_graph}}</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3>
                    <a href="/brightness">Brightness</a>
                    <a href="/brightness" class="headline-sublink">The sensor</a>
                </h3>
                <div id="plot-brightness" class="plot"></div>
                <p class="centered">{{brightness_graph}}</p>
            </div>
        </div>
        <!-- /.row -->
    <a href="/arduino/aquarium.ino">Arduino source</a>
    <br>
    <a href="/budget">Budget</a>
    
    <script language="javascript" type="text/javascript" src="js/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="js/flot/jquery.flot.time.js"></script>
	<script language="javascript" type="text/javascript" src="js/flot/jquery.flot.canvas.js"></script>
    <script src="js/index.js"></script>

