<h3>Temperature</h3>
<p>
    To measure the temperature of the aquarium receives, we use the Arduino as a thermometer.
    <br>
    There are different approaches how to measure temperature with the Arduino:
</p>
<ul>
    <li><strong>I2C or Serial Sensors</strong> - There are advanced sensor modules that often can measure barometric pressure, temperature, humidity, and other conditions all in one package.  However these modules are typically much more expensive and require the use of the I2C or serial protocol to read. These might be great for a more advanced weather sensor project.</li>
    <li><strong>Thermal analog sensor</strong> - A three pin component that takes power, ground, and outputs a variable voltage based on the temperature by implementing a band gap core inside a single component.  This class of component is useful and I'll examine this in a future tutorial.</li>
    <li><strong>Thermistor</strong> - A resistor that changes resistance based on the ambient temperature.</li>
</ul>
http://computers.tutsplus.com/tutorials/how-to-read-temperatures-with-arduino--mac-53714


<p>
    In the current implementation we use <strong>Thermal analog sensor</strong> as a sensor for measuring the temperature.
    It is the same component, which is provided in the Arduino starter kit.
    <br>
    <br>
    The difference is that the sensor is <u>submerged into the water</u>, so a water-proof isolation is required.
</p>

<img src="/img/thermometer.png" class="small-image">
<p>
    <strong>How the temperature is read\:</strong>
</p>
<pre>
float readT(){
  float V = (analogRead(T_PIN) / 1024.0) * 5.0;
  float T = (V - .5) * 100;
  return T;
}
</pre>

<p>
    <strong>Used parts:</strong>
</p>
<ul>
    <li>Temperature sensor TMP36</li>
    <li>Tube</li>
    <li>White gum</li>
    <li>Wires</li>
</ul>


<p>
    <a href="http://ygyfreezone.blogspot.bg/2013/10/arduino-starter-kit-chapter-3.html" target="_blank">Comment of the referenced chapter</a>
<p>
<p>
    <strong>Future improvements</strong>
    <br>
    It is very important that no water enters into the tube, where the sensor is placed. So this cause future problems.
    <br>
    During the development, water entered into the tube, which lead to input from 75 degrees, but for luck the sensor was not damaged.
    <br>
    For reference a analog thermometer for aquariums is used and the error is less than one degree.
</p>
