<h3>Water Level</h3>
<p>
    To measure the level of the water in the aquarium, we use the Arduino as a <a href="https://en.wikipedia.org/wiki/Capacitance_meter" target="_blank">capacimeter</a>.
    <br>
    The basic idea is the following.
    <br>
    <strong>Capacitance</strong> is the ability of a body to store an electrical charge. A material with a large capacitance holds more electric charge at a given voltage, than one with low capacitance.
    <br>
    I made my own capacitor which has the design:
    <img src="/img/C.png" class="small-image">
    <br>
    The formula, with which the capacitance of a parallel-plate capacitor can be calculated is the following:
    <img src="/img/cformula.png">
</p>
<ul>
    <li>d - the distance between the two plates</li>
    <li>A - the area of the two plates</li>
    <li>E - the permittivity of the stuff between the plates</li>
</ul>
<p>
    The permetivity is the value which changes between the air and the water. For example the water has value of 40 and the air has a value of 1.
    This means that when the capacitor is in water, then it will have around 40 times bigger capacity.
</p>
<img src="/img/capacity.jpg" class="small-image">
<p style="text-align: center;">
    This is how the condensator looks like
</p>
<img src="/img/capacity-air.jpg" class="small-image">
<p style="text-align: center;">
    The value of the capacity in air.
</p>

<img src="/img/capacity-water.jpg" class="small-image">
<p style="text-align: center;">
    The value of the capacity in water.
</p>

<p>
    <a href="http://wordpress.codewrite.co.uk/pic/2014/01/21/cap-meter-with-arduino-uno/" target="_blank">How the capacitance is read</a>
</p>
<p>
    <strong>Used parts:</strong>
</p>
<ul>
    <li>Two metal plates</li>
    <li>Two plastic bags</li>
    <li>Plastic, which is placed between the plates</li>
    <li>Two crocodile clips</li>
    <li>Glue</li>
    <li>Wires</li>
</ul>
<p>
    <strong>Future improvements</strong>
    <br>
    It can be seen that the step is too big and the measured value is not accurate.
    <br>
    Possible solution is to use 555 timer IC and to use the following link:
    <br>
    <a href="http://www.instructables.com/id/Capacitance-meter-with-arduino-and-555-timer/" target="_blank">Capacitance meter with arduino and 555 timer</a>
    <br>
    <br>
    There is also this commercial product:
    <br>
    <a href="http://www.aliexpress.com/item/Hot-Sale-Smart-Electronics-Rain-Water-Level-Sensor-Module-Detection-Liquid-Surface-Depth-Height-for-Arduino/32315995677.html?spm=2114.01010208.3.2.5J0V1F&ws_ab_test=searchweb201556_6%2Csearchweb201644_3_10001_10002_10005_301_10006_10003_10004_62_61%2Csearchweb201560_8%2Csearchweb1451318400_6148%2Csearchweb1451318411_6448" target="_blank">
        Hot Sale Smart Electronics Rain Water Level Sensor Module Detection Liquid Surface Depth Height for Arduino
    </a>

    
    http://www.amazon.com/GEREE-Liquid-Controller-Sensor-Detection/dp/B00PU5ZSTS
    <br>
    <br>
    Also the water itself plays a role in the capacitance. One of the components is the pH of the water.
    <br>
    It could be measure this device:
    <br>
    <a href="http://www.aliexpress.com/item/Analog-PH-Probe-Sensor-Shield-and-PH-Probe-Kit-For-Arduino/2035356440.html?spm=2114.01010208.3.18.sge0PC&ws_ab_test=searchweb201556_6,searchweb201644_3_10001_10002_10005_301_10006_10003_10004_62_61,searchweb201560_8,searchweb1451318400_6148,searchweb1451318411_6448" target="_blank">
        Analog PH Probe Sensor Shield and PH Probe Kit For Arduino
    </a>
</p>
