.plot{
	width: 100%;
	height: 400px;
	overflow: auto;
}

.small-image{
	width: 500px;
	display: block;
	margin: 10px auto;
}

.headline-sublink{
	font-size: 16px;
	display: block;
}

.centered{
	text-align: center;
}